<!--Main Header-->
<header class="main-header">

  <!--logo-->
  <div class="main-header__logo">
    <a href="/">
      <img src="/assets/img/logo-light.png">
    </a>
  </div>

  <!--nav-->
  <div class="main-header__nav">
    <h1>LawVu Tech Test</h1>
  </div>

</header>

<!-- Main Content-->
<main class="main-content">

  <!-- Navigation -->
  <nav class="main-content__navigation">

    <a class="main-content__navigation__link"
       routerLink="/legal-matters"
       [routerLinkActive]="'active'">Legal Matters</a>

    <a class="main-content__navigation__link"
       style="margin-left:0.5rem"
       routerLink="/log"
       [routerLinkActive]="'active'">Log</a>

    <a class="main-content__navigation__link"
       style="margin-left:0.5rem"
       routerLink="/lawyers"
       [routerLinkActive]="'active'">Lawyers</a>

    <a class="main-content__navigation__link"
       style="margin-left:0.5rem"
       routerLink="/contract-extraction"
       [routerLinkActive]="'active'">Contract Extraction</a>

    <a class="main-content__navigation__link"
       style="margin-left:0.5rem"
       routerLink="/currencies"
       [routerLinkActive]="'active'">Currencies</a>

    <a class="main-content__navigation__link"
       style="margin-left:0.5rem"
       routerLink="/event-types"
       [routerLinkActive]="'active'">Event Types</a>

    <a class="main-content__navigation__link"
       style="margin-left:0.5rem"
       routerLink="/people"
       [routerLinkActive]="'active'">People</a>

    <a class="main-content__navigation__link"
       style="margin-left:0.5rem"
       routerLink="/categories"
       [routerLinkActive]="'active'">Categories</a>

    <a class="main-content__navigation__link"
       id="requirements_link"
       routerLink="/requirements"
       [routerLinkActive]="'active'">Requirements</a>
  </nav>

  <div class="main-content__panel">
    <router-outlet></router-outlet>
  </div>

</main>

<!--Main Footer-->
<footer class="main-footer">

</footer>
